.grid-con {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    margin: auto;
    
}

.photo {
    width: 70%;
    min-width:  250px;
    padding: 0;
    
}

.grid-item {
    min-width: 275px;
    padding: 0 2.5%;
}

.item2, .item5 {
    margin-top: 20%;
}


h4, h5 {
    margin: 0;
}

h5 {
    writing-mode: vertical-lr;
    float: right;
    font-weight: 400;
}
h4 {
    float: none;
}

@media only screen and (max-width: 950px) {
    .grid-con {
        grid-template-columns: auto auto;
        width: 90%;
        margin: auto;
    }

    .photo {
        min-width: 165px;
    }

    

    .item4, .item6 {
        margin-top: 20%;
    }

    .item5 {
        margin-top: 0%;
    }

    h5 {
        margin-right: 20%;

    }

    .grid-item {
        padding: 0;
        
    }
}